*.gz
.venv/*
**/.ipynb_checkpoints/*
*.pyc
__pycache__/
.env
.env.*
*.json
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
*variables.tf
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
